#question-wrapper{
	width: 600px;
	min-height: 500px;
	margin: auto;
	text-align: center;
	background-color: #cbcbd6;
	border-radius: 15px;
}

h1{
	padding: 20% 10% 0;
	font-size: 36px;
	color: #ff3300;
	
}
h2{
	font-size: 26px;
	color: #6600ff;
}

#ask{
	width: 20%;
	margin: 20px auto;
}

button{
	background-color: #cd366a;
	padding: 30px;
	font-size: 30px;
	color: white;
}