button{
	font-size: 30px;
	border-radius: 5%;
}

#answerOne{
	background-color: #ccffcc;
	float: left;
}
#askOne{
	background-color: #ffb3cc;
	position: relative;
}
.image img{
	max-width: 60%;
	position: absolute;
	top: 30%;
}
#question-text{
    position: absolute;
    left: 34%;
    top: 20%;
    z-index: 1;
    font-size: 13px;
}
.questionBoxes{
	display: inline;
}
.questionBoxes img{
	width: 25.5%;
}
.question{
	position: relative;
	right: 6%;
	transform: rotate(-22deg);
}
.answer{
	transform: rotate(22deg);
    position: relative;
    left: 2%;
}
#ask{
	float: left;
}
#answer{
	float: right;
}

#question-diff{
	position: absolute;
    right: 37%;
    top: 13%;
    z-index: 1;
    font-size: 13px;
}